@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
		
}



body{
	font-family: 'Poppins', sans-serif;
	transition-duration: .4s;
}

a, a:hover{
	text-decoration: none;
}

li{
	list-style: none;
}

ul, ol, li{
	margin: 0;
	padding: 0;
}
p{
	font-size: 15px;
    color: #666;
    line-height: 1.6;
    font-family: 'Roboto', sans-serif;
}

header{
	padding: 10px 0px;
}

.dropdown-toggle::after{
	content: none;
}

/*************/

header .isStuck{
    left:0px;
    width:100%;
    background: #fff!important;
    padding: 20px 0;
}

header .navbar-wrapper {

  position: relative;
  z-index: 15;

}


/***************/


.btn-secondary{
    color: #000;
    background-color: transparent;
    border-color: transparent;
    font-size: 16px;
    font-weight: 600;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
	color: #464cc5;
    background-color: transparent;
    border-color: transparent;
    box-shadow: none!important;
}

header img, svg {
    vertical-align: middle;
    width: 150px;
}

.navbar-light {
    /*padding: 10px 0;*/
    border-bottom: 2px solid #ececec;
}

.dropdown:hover .dropdown-menu{
	display: block;
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
    margin-left: 40px;
    font-weight: 700;
    font-size: 16px;

}

.navbar-light .navbar-nav .nav-link:hover{
	color: #464cc5;
}



header i.fa.fa-search {
    border: 1px solid #5f67ff;
    padding: 9px;
    border-radius: 50%;
    color: #5f67ff;
    font-size: 16px;
}

header i.fa.fa-search:hover{
	color: #fff;
    background: #464cc5;
}

.btn-info {
    color: #fff!important;
    background-color: #5f67ff;
    border-color: #5f67ff;
    padding: 9px 16px!important;
    font-weight: 600;
    display: inline-block;
}

.btn-info:hover{
	color: #fff;
    background: #464cc5;
}

/*heading_banne_section*/

.heading_banne_section {
    /*padding: 103px 0 0;*/
}

.heading_banne_section .head_ban{

}

.heading_banne_section h1 {
    padding: 12px 80px 12px calc(50% - 660px);
    display: inline-flex;
    background: #5f67ff;
    margin-top: 80px;
    border-radius: 0 5px 5px 0;
    font-weight: 700;
    color: #fff;
    font-size: 45px;
}


/*******card_section***************/

.card_section {
    padding: 20px 0 60px;
}



.card_heading{
	padding-left: 0;
	padding-right: 0;
}

.card_heading h1 {
    font-size: 60px;
    font-weight: 700;
    color: #5f67ff;
    margin-top: 16px;
    margin-bottom: 16px;
}

.card_heading h3 {
    font-size: 30px;
    font-weight: 800;
    color: #333;
    margin-bottom: 20px;
}

.card_section .card_img {
    padding: 50px;
}

.card_section .card {
    border: none;
    border-radius: 5px;
    margin: 0 20px;
    box-shadow: 0 14px 10px 0 rgba(92,147,180,0.2);
    transition: 0.5s;
}

.card_section .card:hover{
	transform: scale(1.03);
	box-shadow:  0 14px 10px 0 rgba(92,145,180,0.3);
}

.card-text {
    font-size: 15px;
    margin: 5px auto;
    max-width: 280px;
    color: #666;
    font-family: 'Roboto', sans-serif;

}

.join_section{
	padding: 60px 0;
}

.join_inner {
    width: 90%;
    padding: 50px;
    box-shadow: 0 18px 24px 0 rgba(95,147,180,0.2);
}

.join_inner_text{
	box-shadow: 0 18px 24px 0 rgba(95,147,180,0.2);
	padding: 50px;
}

.join_section h5 {
    font-size: 20px;
    max-width: 360px;
    padding: 5px 0;
    line-height: 1.5;
    font-weight: 600;
}

.join_section p {
    
    max-width: 390px;
}

.join_section h2 {
    font-size: 30px;
    color: #5f67ff;
    font-weight: 700;

}

.card_section .card-title{
	font-size: 20px;
	color: #333;

}

.feature_section {
    padding: 0 0 30px 0;
}

.feature_pic img{
	height: 60px;
}

.feature_inner{
	text-align: center;
}

.feature_pic {
    padding: 30px 5px;
    margin: 20px 0;
    box-shadow: 0 0px 21px 0 rgba(95,147,180,0.2);
    border-top: 6px solid #5f67ff;
}

.feature_section h1 {
    font-size: 60px;
    font-weight: 700;
    color: #5f67ff;
    margin-top: 16px;
    margin-bottom: 16px;
}

.feature_section p {
    max-width: 360px;
    margin: 0 auto;
}

.feature_section h5{
	font-size: 20px;
    max-width: 360px;
    padding: 5px 0;
    /* letter-spacing: 1px; */
    line-height: 1.5;
    margin: 0 auto;
}

/******************/

.become_partner_section{
	padding: 0 0 90px 0px;
}

.become_partner_section h2 {
    font-size: 30px;
    font-weight: 700;
    color: #333;
    line-height: 4;
}

.become_partner_section h1 {
    font-size: 80px;
    font-weight: 700;
    color: #5f67ff;
    line-height: 1;
}

.become_partner_section h5 {
    font-size: 20px;
    font-weight: 700;
    color: #333;
    margin-bottom: 10px;
    max-width: 215px;
}

.become_partner_section p {
    
    max-width: 296px;
}


.become_partner_section .btn-info{
	padding: 10px 35px!important;
}

.footer_widget {
    padding: 70px 0 60px;
    background: #333;
    border-bottom: 1px solid #ececec42;
}

.footer_widget h2{
	font-weight: 700;
	font-size: 20px;
	color: #fff;
	margin-bottom: 20px;
}

.footer_widget p{
	
}

.footer_widget a, footer p {
    color: #fff;
    font-size: 15px;
}


footer {
    background: #333;
    padding: 15px 0 0px;
}
